.container{
    height: 700px;
    border: 1px solid green;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: 250px,600px;
    grid-template-areas: "hd hd hd hd hd hd hd hd"
                        "sd sd mn mn mn mn mn mn"/* sd sd sd here auto adjust side area increase and main dec..we change third sd to mn for corrext*/
                        "ft ft ft ft ft ft ft ft";/*As we make 2 rows but make 3 in g-t-a: so the adjust */
}
.box{
    border: 1px solid green;
    background-color: burlywood;

}
#header{grid-area: hd;}
#side{grid-area: sd;}
#content{grid-area: mn;}
#footer{grid-area: ft;}